.container {
  width: 100%;
  height: 534px;
  background-image: linear-gradient(to bottom, #5B1AB8, #210223);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  flex-direction: column;

  .title{
    max-width: 720px;
    font-weight: 300;
    line-height: 36px;
    width: 80%;
  }

  a{
    width: 134px;
    border: 2px solid #ffffff !important;
    border-radius: 15px;
    background-color: transparent;
    color: #ffffff !important;
    padding: 8px;
  }
}

