.container {
  width: 100%;
  height: auto;
  background-color: #121414;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 64px;
  overflow: hidden;
  margin-top: 64px;

  h1{
    color: #ffffff;
    text-align: center;
  }

  .cardList{
    width: 90%;
    margin: 64px auto;
    max-width: 1240px;

    @media (max-width: 768px) {
      width: 80%;
    }
  }
}

