.container {
  width: 300px;
  height: 400px;
  border: solid #fff 2px;
  border-radius: 32px;
  margin: 0px 16px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  box-shadow: 5px 5px 10px #000;

  .description{
    color: #fff;
    text-align: center;
    //background-color: rgba(167, 0, 245, .9);
    //background-color: rgb(0, 255, 194, .9);
    height: auto;
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 16px;
    border-radius: 0px 0px 32px 32px;
    

    h3{
      font-size: 24px;
    }

    p{
      margin: 0px;
      font-size: 18px;
      display: none;
    }

    button{
      margin: 24px auto;
      width: 200px;
      height: 32px;
      border-radius: 8px;
      display: none;
      background-color: transparent;
      color: #fff;
      border: 1px solid #fff;
    }

  }
  &:hover{
    //background-color: rgba(0, 216, 245, 0.5);

    & .description{
      height: 100%;
      border-radius: 32px;
    }

    & p{
      display: block;
    }

    & button{
      display: block;
    }
  }
}

